
@page "/register"
@using Project.DataModels;
@using Project.UI.Services;
@inject IUserServices _userServices;
@inject NavigationManager NavigationManager;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedLocalStorage BrowserStorage




@code {
    private User user { set; get; } = new User();
    public async void onSubmit()
    {
        var httpResponse = await _userServices.Register(user);

        if (httpResponse.Username == user.Username)
        {
            NavigationManager.NavigateTo("/");
        }
    }
      public void goTo()
    {

        NavigationManager.NavigateTo("/");

    }


}


<div class="align-content-center justify-content-center align-items-center">

    <div class="position-absolute  top-50 start-50 translate-middle border align-content-center justify-content-center align-items-center p-5 bg-light">
        <h3 class="pb-4">Register</h3>
        <EditForm Model=@user OnSubmit="@onSubmit">
            <div class="form-group">
                <label>UserName</label>
                <InputText id="username" class="form-control mb-3" name="userName" @bind-Value="user.Username"></InputText>
            </div>
            <div class="form-group">
                <label>FirstName </label>
                <InputText id="FirstName" class="form-control mb-3" name="FirstName" @bind-Value="user.FirstName"></InputText>
            </div>
            <div class="form-group">
                <label>LastName </label>
                <InputText id="LastName" class="form-control mb-3" name="LastName" @bind-Value="user.LastName"></InputText>
            </div>
            <div class="form-group">
                <label>Password </label>
                <InputText id="Password" type="Password" class="form-control mb-3" name="Password" @bind-Value="user.Password"></InputText>
            </div>
            <button type="submit" class="btn btn-info mb-3">SignUp</button>
            <h6>you have account..! <a @onclick="goTo" href="">Login</a></h6>
        </EditForm>
    </div>
</div>
